{% extends 'base.html.twig' %}

{% block title %}
    Jobs in the
    {{ category.name }}
    category
{% endblock %}

{% block body %}
    {{ render_esi(controller('App\\Controller\\CacheTestController::historyAction')) }}

    <h4>{{ category.name }}</h4>

    {% include 'job/table.html.twig' with {'jobs': activeJobs} only %}

    {# {{ render_esi(controller('App\\Controller\\CategoryController::activeJobs')) }} #}

    <div class="navigation text-center">
        {{ knp_pagination_render(activeJobs) }}
    </div>
{% endblock %}
